InlayHints:
  Enabled: false

Diagnostics:
  UnusedIncludes: None
  Suppress: ['attribute_section_invalid_for_target']

  ClangTidy:
    Add:
      - "modernize-redundant-void-arg"
      - "performance-*"
      - "bugprone-*"
      - "llvm-*"
      - "misc-*"
    Remove:
      - "bugprone-suspicious-include"
      - "bugprone-easily-swappable-parameters"
      - "bugprone-reserved-identifier"
      - "bugprone-multi-level-implicit-pointer-conversion"
      - "misc-unused-parameters"

